@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body {
  min-height: 100%;
  background-image: url("../img/bakery-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Varela', sans-serif;
  color: #ffffff;
  list-style: none;
}

.hero-text {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 50px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 3px;
}

.footer {
  position: fixed;
  left: 0;
  margin: auto;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);  
  color: #ffffff;
  text-align: center;
  display: flex; 
  justify-content: center;
  padding: 1%;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  width: 80vw;
  border-radius: 20px;
}

.centered-content {
  width: 75vw;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
}

.centered-content h1 {
  font-size: 25px;
  text-align: center;
}

#splash-button-container {
  padding-top: 50px;
}

.btn {
  position: relative;
  color: white;
  font-weight: bold;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
}

.form-sub {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* .btn-splash {
  position: relative;
  color: white;
  font-weight: bold;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
} */

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
	height: 100%;
  bottom: 0;
	left: 0;
	z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}

.btn-two:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}

.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.btn-two:active, .btn-two:hover {
  color: #ffffff;
}

.overflow {
  padding-bottom: 50px;
}