@{
  Layout = "_Layout";
}

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">PIERRE'S BAKERY</h1>
    <h3>VENDOR PORTAL</h3>
    <div id="splash-button-container">
      <a href='/vendors' class="btn btn-two" role="button">VIEW VENDORS</a>
      <a href='/vendors/new' class="btn btn-two" role="button">ADD A NEW VENDOR</a>
    </div>
  </div>
</div>
