@{
  Layout = "_Layout";
}

<div class="hero-text">
  <h1>PIERRE'S BAKERY</h1>
  <h3>VENDOR PORTAL</h3>
  <div id="splash-button-container">
    <a href='/vendors' class="btn btn-splash btn-two" role="button">VIEW VENDORS</a>
    <a href='/vendors/new' class="btn btn-splash btn-two" role="button">ADD A NEW VENDOR</a>
  </div>
</div>